# Database
POSTGRES_USER=finops_user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=finops_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=8000

# Frontend
FRONTEND_PORT=3000

# Grafana
GRAFANA_PORT=3001
GRAFANA_ADMIN_PASSWORD=admin